header {
  width: 100vw;
  background-color: $green-color;
  height: 102px;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  align-content: center;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 26px 43px -16px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 26px 43px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 26px 43px -16px rgba(0, 0, 0, 0.75);

  #logo:hover {
    opacity: 80%;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    opacity: 80%;
    line-height: 40px;
    font-size: 1.2rem;
  }

  nav a:hover {
    opacity: 100%;
  }
}

@media screen and (max-width: 700px) {
  header {
    padding: 0 10px;
    margin: 0 auto;

    #logo {
      width: 160px;
    }
  }
}
