.contentPage {
  background: $green-color url("../../img/gardenbook-bg.jpg") no-repeat center
    center fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
