$green-color: #1e4801;
$lighter-green-color: #154e07;
$white-color: #fff;
$white-color-opacity-08: rgba(255, 255, 255, 0.8);
$light-green-color: #488106;
$grey-color: #444444;
$light-grey-color: #5b5858;
$limone-color: #dfef9b;
