.info .error-info {
  color: $orange;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.contentUserForm .error-info {
  color: $orange;
  font-size: 1.2rem;
}

.contentUser .user-data-box .error-info{
  color: $orange;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}