footer {
  width: 100vw;
  background-color: $green-color;
  height: 4rem;
  position: absolute;
  bottom: 0;
  -webkit-box-shadow: 0px -26px 43px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 0px -26px 43px -16px rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 5vw;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  p {
    color: $lightest-green-color;

    a {
      color: $lightest-green-color;
      text-decoration: none;

      &:hover {
        color: $white-color;
      }
    }
  }

  nav {
    a {
      color: $lightest-grey-color;
      opacity: 60%;
      margin-left: 2rem;
      text-decoration: none;

      &:hover {
        color: $white-color;
        opacity: 1;
      }
    }
  }
}

@media screen and (max-height: 850px) {
  footer {
    position: relative;
  }
}

@media screen and (max-width: 700px) {
  footer {
    padding: 0 0.6rem;
    margin: 0 auto;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    nav {
      a {
        margin-left: 1rem;
      }
    }
  }
}
