header {
  width: 100vw;
  background-color: $green-color;
  height: 6.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 5vw;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-shadow: 0px 26px 43px -16px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 26px 43px -16px rgba(0, 0, 0, 0.75);

  #logo:hover {
    opacity: 80%;
  }

  nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 2rem;
    opacity: 0.7;
    line-height: 2.5rem;
    font-size: 1.2rem;
  }

  nav a:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  header {
    padding: 0 3rem;
    margin: 0 auto;

    #logo {
      width: 10rem;
    }
  }
}

@media screen and (max-width: 550px) {
  header nav a {
    margin-left: 1.5rem;
    opacity: 0.7;
  }
}

@media screen and (max-width: 400px) {
  header nav a {
    margin-left: 1.1rem;
    opacity: 0.7;
  }
}
