header {
  width: 100vw;
  background-color: $green;
  // height: 6.4rem;
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 5vw;
  align-content: center;
  flex-wrap: wrap;
  // box-shadow: 0px 26px 43px -16px rgba(0, 0, 0, 0.75);

  #logo:hover {
    opacity: 80%;
  }

  nav a {
    color: $white;
    text-decoration: none;
    margin-left: 2rem;
    opacity: 0.7;
    line-height: 2.5rem;
    font-size: 1.2rem;

    .greenAlert {
      background-color: $luminescence-green;
      color: $green;
      font-weight: bold;
      padding: 1px 6px;
      border-radius: 50%;
      opacity: 1;
    }
  }

  .is-active {
    color: #fff;
    opacity: 1;
  }

  nav a:hover {
    opacity: 1;
  }
}

@media screen and (max-width: 700px) {
  header {
    padding: 0 3rem;
    margin: 0 auto;

    #logo {
      width: 10rem;
    }
  }
}

@media screen and (max-width: 550px) {
  header nav a {
    margin-left: 1.5rem;
    opacity: 0.7;
  }
}

@media screen and (max-width: 400px) {
  header nav a {
    margin-left: 1.1rem;
    opacity: 0.7;
  }
}
