.right-box,
.info {
  padding: 2rem 3rem 3rem 2rem;
  background-color: $white-opacity-08;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  height: 50vh;
  color: $grey;
  align-self: flex-end;
  margin-right: 5vw;
  margin-top: 3.7rem;
  width: 40vw;

  .title {
    display: flex;

    #logo {
      width: 5.2rem;
    }

    h1 {
      padding-left: 1rem;
    }
  }

  h1 {
    text-transform: uppercase;
    color: $lighter-green;
    padding-top: 1rem;
  }

  ul {
    font-size: 1.5rem;
    width: 90%;
    margin: 2rem 0 3rem 8%;

    li {
      line-height: 2;

      .important {
        color: $light-green;
      }
    }
  }

  p {
    font-size: 1.6rem;
    padding: 0 0 0.6rem 1.2rem;
  }

  .slogan-green {
    color: $light-green;
  }
}

@media screen and (max-width: 1250px) {
  .right-box,
  .info {
    width: 80vw;
    margin: 3.7rem auto;

    ul {
      margin: 1.2rem 0 2rem 8%;
    }
  }
}

@media screen and (max-width: 1000px) {
  .right-box {
    margin: 2.5rem auto;

    .title {
      #logo {
        width: 3.1rem;
        height: 3.2rem;
      }
      h1 {
        font-size: 1.5rem;
      }
    }

    ul {
      font-size: 1.2rem;
      margin: 6.2rem 0 2rem 8%;
    }

    p {
      font-size: 1.3rem;
    }
  }
}

@media screen and (max-width: 650px) {
  .right-box {
    padding: 1.2rem;

    .title h1 {
      font-size: 1.2rem;
      padding-top: 0;
    }
    ul {
      margin-bottom: 1.2rem;
      li {
        line-height: 1.6rem;
      }
    }
    p {
      font-size: 1.1rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .right-box {
    h1 {
      font-size: 1.16rem;
      padding: 1rem 0 1.5rem 0;
    }
    ul {
      margin-bottom: 1.2rem;
      margin: 0 0 1.5rem 8%;
      li {
        font-size: 1.06rem;
        line-height: 1.2;
      }
    }
    p {
      font-size: 1.06rem;
    }
  }
}
