#left-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 5.9rem;

  #left-menu-first {
    width: 4.1rem;
    background-color: $limone-color;
    height: calc(100vh - 168px);

    .menuLeftBtn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 2.7rem;
      border-bottom: 1px solid $white-color;
      color: $grey-color;
      width: 4.1rem;
      padding: 0.6rem 0 0.6rem;
      -ms-flex-line-pack: center;
      align-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
    }

    .notActive {
      opacity: 0.5;
    }
  }

  #left-menu-second {
    width: 1.8rem;

    .addBtn {
      background-color: $more-lightnes-grey-color;
      border-bottom: 1px solid $white-color;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 2rem;
      text-decoration: none;
      width: 1.8rem;
      height: 4rem;
      -ms-flex-line-pack: center;
      align-content: center;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly;

      &:hover {
        cursor: pointer;
        opacity: 0.7;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  #left-menu {
    width: 5rem;
    #left-menu-first .menuLeftBtn {
      font-size: 2rem;
      width: 3.5rem;
      padding: 0.95rem 0 0.95rem;
    }
  }
}
