.content {
  width: 100%;
  display: flex;
  flex-direction: column;

  .top-box {
    display: flex;
    justify-content: space-between;
    width: 100%;

    form input {
      margin: 0 0.8rem;
    }
  }

  .plus-link {
    align-self: flex-end;
    position: relative;
    top: 1.5rem;
    font-size: 1.2rem;
    color: $strong-green-color;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }

  p {
    font-size: 1.2rem;
  }

  table {
    background-color: $limone-color;
    font-size: 1.2rem;
    margin-top: 1.2rem;
    padding: 0.6rem 0.6rem 1.1rem 0.6rem;

    tr {
      th {
        padding: 0.3rem;
        color: #444;
      }
      td {
        padding: 0.3rem;
        color: #444;

        h3 {
          text-transform: uppercase;
        }
      }
    }

    tr:nth-child(odd) {
      background: rgba(255, 255, 255, 0.3);
    }

    tr:first-child {
      background: rgba(255, 255, 255, 0);
    }
  }
}
