.top-box {
  form {
    font-size: 1.2rem;

    #search-material,
    #search-plant,
    #date-from,
    #date-to {
      padding: 0.3rem;
      font-size: 1.1rem;
    }

    button {
      font-size: 1.3rem;
      padding: 0.3rem 0.5rem 0.4rem 0.5rem;
      background-color: $spring-green-color;
      border: none;
      color: $strong-green-color;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .top-box form {
    #search-material {
      width: 80%;
      padding: 0.3rem 0 0.3rem 0.3rem;
      margin-left: 0;
    }
    #date-from,
    #date-to {
      width: 8.5rem;
    }
  }
}

@media screen and (max-width: 850px) {
}
