.searchForWorks {
  font-size: 1.2rem;
  margin-top: 1rem;
  font-weight: bold;
  #date-from,
  #date-to {
    padding: 0.3rem;
    font-size: 1.1rem;
    margin: 0 1rem;
  }
}

.inputSearch {
  width: 50%;
  padding: 0.4rem;
  margin-top: 1rem;
  font-size: 1.1rem;
}

@media screen and (max-width: 950px) {
  .searchForWorks {
    display: flex;
    flex-direction: column;

    #date-from,
    #date-to {
      width: 100%;
      margin: 0.5rem 0;
    }
  }

  .inputSearch {
    width: 100%;
  }
}
