.more-info {
  position: absolute;
  bottom: 8.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100vw;
  padding: 0 6.2rem;

  .title {
    display: flex;
    background-color: $limone-opacity-06;
    font-size: 1.5rem;
    color: $light-grey;
    font-weight: bold;
    width: 14rem;
    text-align: center;
    padding: 2rem 2.5rem;
    justify-content: center;

    &:hover {
      background-color: $limone;
      color: $lighter-green;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 1500px) {
  .more-info .title {
    font-size: 1.3rem;
    width: 11.8rem;
  }
}

@media screen and (max-width: 1365px) {
  .more-info {
    bottom: 5rem;
    width: 100vw;
    margin: 0 auto;

    .title {
      font-size: 1.2rem;
      padding: 1.2rem;
      margin-bottom: 1.2rem;
    }
  }
}

@media screen and (max-width: 1280px) {
  .more-info {
    justify-content: center;
    padding: 0;

    .title {
      // width: 200px;
      margin-right: 10px;
    }
  }
}

@media screen and (max-width: 924px) {
  .more-info {
    .title {
      padding: 15px;
    }
  }
}

@media screen and (max-width: 660px) {
  .more-info {
    margin-bottom: 20px;

    .title {
      width: 150px;
      font-size: 1rem;
    }
  }
}

@media screen and (max-width: 550px) {
  .more-info {
    .title {
      width: 120px;
      line-height: 1rem;
    }
  }
}

@media screen and (max-width: 430px) {
  .more-info {
    .title {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-height: 850px) {
  .more-info {
    position: relative;
    bottom: 0;
  }
}
