.more-info {
  position: absolute;
  bottom: 8.1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100vw;
  padding: 0 4rem;

  a {
    display: flex;
    background-color: $limone-opacity-06;
    font-size: 1.5rem;
    font-weight: bold;
    width: 14rem;
    text-align: center;
    padding: 2rem 2.5rem;
    justify-content: center;
    color: $strong-grey;
    text-decoration: none;
    opacity: 0.8;
    margin-bottom: 1rem;

    &:hover {
      color: $lighter-green;
      background-color: $limone;
    }
  }

  .is-active {
    background-color: $limone;
    color: $lighter-green;
  }
}

@media screen and (max-width: 1650px) {
  .more-info {
    a {
      font-size: 1.4rem;
      font-weight: bold;
      width: 12rem;
    }
  }
}

@media screen and (max-width: 1450px) {
  .more-info {
    a {
      width: 10rem;
      padding: 1.5rem;
    }
  }
}

@media screen and (max-width: 600px) {
  .more-info {
    position: relative;
    bottom: 0;
    padding: 0 2rem;

    a {
      padding: 1rem;
      width: 100%;
      background: rgb(223, 239, 152);
    }
  }
}

@media screen and (max-height: 850px) {
  .more-info {
    position: relative;
    bottom: 0;
  }
}
