.contentPage,
.userPage {
  background-image: url("../../img/gardenbook-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media screen and (max-height: 850px) {
  .contentPage,
  .userPage {
    height: 100%;
  }
}
