.contentPage,
.userPage {
  background: $green url("../../img/gardenbook-bg.jpg") no-repeat center center
    fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

@media screen and (max-height: 850px) {
  .contentPage,
  .userPage {
    height: 100%;
  }
}
