.user-data-box {
  width: 50%;
  background-color: $grey-color;
  padding: 2.5rem;
  position: relative;
  font-size: 1.3rem;

  h2 {
    color: $white-color;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }

  p {
    font-size: 1.3rem;
    line-height: 2;
    color: $lighter-grey-color;

    span {
      color: $white-color;
      font-weight: bold;
    }
  }

  button {
    width: 15rem;
    // margin-top: 3rem;
    padding: 1rem 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: $grey-color;
    border: none;
    position: absolute;
    bottom: 2.5rem;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}
.user-functionality-box {
  width: 50%;
  background-color: $limone-color;
  padding: 2.5rem 2.5rem 5rem 2.5rem;
  font-size: 1.3rem;
  position: relative;

  h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .text-info {
    margin-bottom: 1rem;
    padding-bottom: 0;
  }

  p {
    line-height: 2;
    padding-bottom: 5rem;

    span {
      margin-left: 1rem;
      color: $strong-green-color;
    }
  }
  button {
    width: 15rem;
    // margin-top: 3rem;
    padding: 1rem 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: $grey-color;
    color: $lighter-grey-color;
    border: none;
    position: absolute;
    bottom: 2.5rem;

    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
}

@media screen and (max-width: 950px) {
  .user-data-box,
  .user-functionality-box {
    width: 100%;
  }

  .user-data-box {
    padding-bottom: 10rem;
  }
}

@media screen and (max-width: 500px) {
  .user-functionality-box {
    height: 32rem;
  }

  .user-data-box,
  .user-functionality-box {
    padding: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.2;

    h2 {
      font-size: 1.4rem;
    }

    .text-info {
      line-height: 1;
      font-size: 1.2rem;
    }

    p {
      line-height: 1.7;
    }

    button {
      width: 12rem;
      padding: 1rem 0.5rem;
      font-size: 1rem;
      position: relative;
      bottom: -0.5rem;
      margin: 2rem 0;
    }
  }
}
