#add-post {
  width: calc(90% + 2.3rem);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  .add-file-label {
    font-size: 1rem;
    width: 9rem;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
  }

  label {
    background-color: $limone;
    padding: 0.3rem 0.5rem;
    font-weight: bold;
    color: $grey;
  }

  #new-post {
    height: 10rem;
    border: none;
    padding: 1rem;
  }

  .add-post-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    -ms-flex-line-pack: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    background-color: $limone;
    padding: 0.3rem 0.5rem;

    .add-file-btn {
      width: auto;
      position: relative;
      top: 0.5rem;
    }

    .add-post-btn {
      width: 2rem;
      border: none;
      background-color: transparent;
      color: $strong-green;
      font-weight: bold;
      font-size: 2rem;
      position: relative;
      right: 0;
    }
  }
}

.post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc(90% + 2.3rem);

  .post-container-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    -ms-flex-line-pack: center;
    align-content: center;
    justify-content: space-between;
    background-color: $limone;
    padding: 0.3rem 0.5rem;

    .post-comments-box {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      font-size: 1rem;
      align-items: center;

      span,
      a {
        margin-left: 1.1rem;
      }

      a {
        color: green;
        text-decoration: underline;
        &:hover {
          text-decoration: none;
        }
      }

      .archive-post {
        color: $grey;
        font-size: 1.5rem;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  p {
    background-color: $white;
    display: flex;
    width: 100%;
    padding: 1rem;
    margin-left: 0;
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 0;
  }

  img {
    width: 100%;
  }

  .new-comment {
    width: 100%;
    padding: 1rem 0.3rem;
    border: none;
  }
}

#add-comment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  .add-comment-buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    -ms-flex-line-pack: center;
    align-content: center;
    justify-content: space-between;
    background-color: $limone;
    padding: 0.3rem 0.5rem;

    label.add-file-label {
      font-size: 1rem;
      width: 9rem;
      text-align: center;
      cursor: pointer;
      font-weight: bold;
      position: relative;
      top: 0.5rem;
    }

    .add-file-btn {
      width: auto;
      position: relative;
      top: 0.5rem;
    }

    .add-comment-btn {
      width: 2rem;
      border: none;
      background-color: transparent;
      color: $strong-green;
      font-weight: bold;
      font-size: 2rem;
      position: relative;
      right: 0;
    }
  }
}

.comment-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: $white;
  padding: 0.5rem 0.3rem 0.5rem 0;

  .comment-author {
    color: $grey;
    font-weight: bold;
    width: auto;
    margin-right: 1rem;
  }

  p {
    padding: 0;
    width: auto;
  }
}

@media screen and (max-width: 950px) {
  #add-post {
    label {
      font-size: 1.2rem;
    }
  }

  .post-container {
    .post-container-top {
      .post-comments-box {
        span,
        a {
          margin-left: 0.1rem;
        }
      }
    }
  }
}
