#add-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  label {
    width: calc(70% + 2.3rem);
    background-color: $limone;
    padding: 0.3rem 0.5rem;
  }

  #new-post {
    width: calc(70% + 2.3rem);
    height: 10rem;
    border: none;
    padding: 1rem;
  }

  .add-post-buttons {
    width: calc(70% + 2.3rem);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 3rem;
    -ms-flex-line-pack: center;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 2rem;
    background-color: $limone;
    padding: 0.3rem 0.5rem;

    .add-file-btn {
      width: auto;
      position: relative;
      top: 0.5rem;
    }

    .add-post-btn {
      width: 2rem;
      border: none;
      background-color: transparent;
      color: $strong-green;
      font-weight: bold;
      font-size: 2rem;
      position: relative;
      right: 0;
    }
  }
}
