.user-left-box {
  width: 40%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2.5rem 2.5rem 5rem 2.5rem;
  font-size: 1.3rem;
  justify-content: flex-start;
  overflow-y: scroll;

  #search-form {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 1.5rem;

    input {
      width: 90%;
      padding: 0.3rem 0.5rem;
      margin-right: 0.3rem;
    }

    button {
      width: 2rem;
      height: 1.8rem;
      border: 0;
      background-color: $green;
      color: $limone;
    }
  }

  h2 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }

  .text-info {
    margin-bottom: 1rem;
    padding-bottom: 0;
  }

  p {
    line-height: 2;
    margin-left: 3rem;
    margin-bottom: 1.5rem;

    span {
      margin-left: 1rem;
      color: $strong-green;
    }
  }
}

@media screen and (max-width: 950px) {
  .user-right-box {
    width: 100%;
    padding-bottom: 10rem;
  }
}

@media screen and (max-width: 500px) {
  .user-right-box {
    padding: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.2;

    h2 {
      font-size: 1.4rem;
    }

    .text-info {
      line-height: 1;
      font-size: 1.2rem;
    }

    p {
      line-height: 1.7;
    }

    button {
      width: 12rem;
      padding: 1rem 0.5rem;
      font-size: 1rem;
      position: relative;
      bottom: -0.5rem;
      margin: 2rem 0;
    }
  }
}
