.user-data-box {
  .neededFields {
    color: $grey;
    font-size: 1rem;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: 1.2rem;
    width: 100%;

    label {
      width: 100%;
      margin-bottom: 0.5rem;
      display: flex;
      flex-direction: row;

      span {
        display: flex;
        width: 40%;
        margin-bottom: 0.4rem;
        justify-content: flex-end;
        padding-right: 2rem;
        color: $grey;
      }

      input,
      select {
        width: 40%;
        padding: 0.4rem;
        font-size: 1.2rem;
      }

      input[type="checkbox"] {
        width: 2rem;
        -webkit-transform: scale(2);
        transform: scale(2);
        position: relative;
        top: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .user-data-box {
    form {
      label {
        span {
          width: 45%;
        }
        input,
        select {
          width: 55%;
        }
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .user-data-box {
    form {
      label {
        flex-direction: column;

        span {
          display: flex;
          width: 100%;
          margin-bottom: 0.6rem;
          justify-content: flex-start;
          padding-right: 2rem;
        }
        input {
          width: 100%;
        }
      }
    }
  }
}
