.info .user-info {
  color: $green;
  font-size: 1.2rem;
  margin-top: 1rem;
}

.contentUserForm .user-info {
  color: $limone;
  font-size: 1.2rem;
}

.contentUser .user-data-box .user-info{
  color: $limone;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
