.contacts-book {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: $limone;
  padding: 1rem;
  margin-top: 1.5rem;

  .contacts-book-top {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;

    svg {
      color: $grey;
    }

    h3 {
      margin-left: 1rem;
      color: $grey;
    }
  }

  ul {
    font-size: 1.1rem;
    list-style-type: none;
    margin-top: 0.5rem;

    li a {
      color: $green;
    }

    a:hover {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 950px) {
  .contacts-book {
    .contacts-book-top {
      h3 {
        font-size: 1.2rem;
      }
    }
    ul {
      li {
        line-height: 1;
        margin-bottom: 0.5rem;
      }
    }
  }
}
