$green-color: #1e4801;
$lighter-green-color: #154e07;
$white-color: #fff;
$white-color-opacity-08: rgba(255, 255, 255, 0.8);
$light-green-color: #488106;
$lighter-green-color: #3e8113;
$lightest-green-color: #93a081;
$luminescence-green-color: #5fff26;
$spring-green-color: #d3eb6f;
$strong-green-color: #056b13;
$grey-color: #444;
$dark-grey-color: #4d4646;
$light-grey-color: #5b5858;
$lightest-grey-color: #efe6e6;
$more-lightnes-grey-color: #f1ecec;
$limone-color: #dfef9b;
$limone-color-opacity-06: rgba(223, 239, 152, 0.6);
