$green: #1e4801;
$lighter-green: #154e07;
$white: #fff;
$white-opacity-08: rgba(255, 255, 255, 0.8);
$light-green: #488106;
$lighter-green: #3e8113;
$lightest-green: #93a081;
$luminescence-green: #5fff26;
$spring-green: #d3eb6f;
$strong-green: #056b13;
$grey: #444;
$dark-grey: #4d4646;
$light-grey: #5b5858;
$lighter-grey: #ccc;
$lightest-grey: #efe6e6;
$more-lightnes-grey: #f1ecec;
$limone: #dfef9b;
$limone-opacity-06: rgba(223, 239, 152, 0.6);
$orange: #ffc107;
