$green-color: #1e4801;
$white-color: #fff;
$light-green-color: #488106;
$grey-color: #444444;
$light-grey-color: #5b5858;
$limone-color: #dfef9b;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  background: $green-color url("assets/img/gardenbook-bg.jpg") no-repeat center
    center fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;

  header {
    width: 100vw;
    background-color: $green-color;
    height: 100px;
  }
}
